h3{
    color:burlywood;font-size: 55px; font-family: Cambria;background-color: rgb(74, 200, 29);
    } 
    /* Id name*/
    #myid{
        color: aquamarine;
        background-color: blueviolet;
        font-size: 69px;
    }
    .myclass{
        color: brown;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;

        /* Box Model */
    padding: 20px;
    margin: 20px;
      border-radius: 20px;
      border-color:blue;
      border-style: dashed;
      border-width: 20px;

    }

